@model Freecipes_app.Models.Usuario

@{
    ViewData["Title"] = "RelatoriosUser";
}



<div style="padding: 0px 25px 0px 25px">
    <div class="container m-0 p-0 mw-100" style="font-size: 1.0vw; ">
        <div>
            <br />
            <h4 class="table text-white">Minhas receitas</h4>
            <br /><br />
            <div class="table-responsive">
                <table class="table text-white">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Imagem
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Nome
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Descricao
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Tempo
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Rendimento
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Grau de Dificuldade
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Categoria
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Ingredientes
                            </th>
                            <th style="vertical-align: middle; text-align: center; color:black">
                                Modo de preparo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Receitas)
                        {

                                <tr>
                                    <td style="vertical-align: middle; text-align: center; color:black">
                                        XXXXX
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Tempo)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Rendimento)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Dificuldade)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Categoria)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Ingrediente)
                                    </td>
                                <td style="vertical-align: middle; text-align: center; color:black">
                                        @Html.DisplayFor(modelItem => item.Etapa)
                                    </td>
                                </tr>
                            }
                    </tbody>
                </table>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>
